<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rocky.boot.dao.PersonDao">
    <resultMap id="baseResultMap" type="com.rocky.boot.model.Person">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumnList">
        id, name, age, address
    </sql>
    <select id="selectById" resultMap="baseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="baseColumnList"/>
        from person
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAllData" resultMap="baseResultMap">
        select
        <include refid="baseColumnList"/>
        from person
    </select>
</mapper>